# Analysing the data set

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('twitter_training.csv', header = None, index_col = 0)

In [3]:
df.head()

                1         2                                                  3
0
2401  Borderlands  Positive  im getting on borderlands and i will murder yo...
2401  Borderlands  Positive  I am coming to the borders and I will kill you...
2401  Borderlands  Positive  im getting on borderlands and i will kill you ...
2401  Borderlands  Positive  im coming on borderlands and i will murder you...
2401  Borderlands  Positive  im getting on borderlands 2 and i will murder ...

In [4]:
# df.rename(columns={'im getting on borderlands and i will murder you all ,': 'Tweet_content',}, inplace=True)

In [5]:
# df.head()

# Renaming columns for better understanding

In [6]:
# df.rename(columns={'Positive': 'sentiment'}, inplace=True)

In [7]:
df.head()

                1         2                                                  3
0
2401  Borderlands  Positive  im getting on borderlands and i will murder yo...
2401  Borderlands  Positive  I am coming to the borders and I will kill you...
2401  Borderlands  Positive  im getting on borderlands and i will kill you ...
2401  Borderlands  Positive  im coming on borderlands and i will murder you...
2401  Borderlands  Positive  im getting on borderlands 2 and i will murder ...

In [8]:
df = df[[2,3]].reset_index(drop = True)

In [9]:
# df['sentiment'].replace({'Positive':1, 'Negative':-1, 'Neutral':0, 'Irrelevant': 2}, inplace=True)

In [10]:
df.head()

          2                                                  3
0  Positive  im getting on borderlands and i will murder yo...
1  Positive  I am coming to the borders and I will kill you...
2  Positive  im getting on borderlands and i will kill you ...
3  Positive  im coming on borderlands and i will murder you...
4  Positive  im getting on borderlands 2 and i will murder ...

In [11]:
df.columns = ['sentiment', 'text']
df.head()

  sentiment                                               text
0  Positive  im getting on borderlands and i will murder yo...
1  Positive  I am coming to the borders and I will kill you...
2  Positive  im getting on borderlands and i will kill you ...
3  Positive  im coming on borderlands and i will murder you...
4  Positive  im getting on borderlands 2 and i will murder ...

In [12]:
def convert_lower(text):
    return text.lower()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74682 entries, 0 to 74681
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  74682 non-null  object
 1   text       73996 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [14]:
df.describe()

       sentiment                                               text
count      74682                                              73996
unique         4                                              69491
top     Negative  At the same time, despite the fact that there ...
freq       22542                                                172

In [15]:
df.isnull().sum()

sentiment      0
text         686
dtype: int64

In [16]:
df = df.dropna()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73996 entries, 0 to 74681
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  73996 non-null  object
 1   text       73996 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [18]:
df = df[df['text'].apply(len)>5]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71890 entries, 0 to 74681
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  71890 non-null  object
 1   text       71890 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

In [20]:
df.sample(10)

        sentiment                                               text
42667    Negative                      What should be forbidden??...
68814  Irrelevant                     @ValkosLunari looks sweet :)
14813     Neutral  Hello. Why am its only ONE person named epals....
26237    Positive  think last time ive been truly happy was as th...
62444    Negative               Trezeguet's driving skills are crazy
74675    Positive  <unk> my elim be no.... NVIDIA Highlights Pict...
33733    Positive  So I played Fortnite to try out the new season...
64387    Negative  Damn RIP to @ LarryFitzgerald I didn't even kn...
60621     Neutral                 Check out my Facebook to follow my
43334  Irrelevant           your @ is babygirlalisa worry about that

In [21]:
df['sentiment'].value_counts()

sentiment
Negative      21758
Positive      19912
Neutral       17614
Irrelevant    12606
Name: count, dtype: int64

In [22]:
df['text'] = df['text'].apply(convert_lower)

In [23]:
df.head()

  sentiment                                               text
0  Positive  im getting on borderlands and i will murder yo...
1  Positive  i am coming to the borders and i will kill you...
2  Positive  im getting on borderlands and i will kill you ...
3  Positive  im coming on borderlands and i will murder you...
4  Positive  im getting on borderlands 2 and i will murder ...

In [24]:
def remove_special(text):
    x =''
    for i in text:
        if i.isalnum():
            x = x+i
        else:
            x = x + ' '
    return x

In [25]:
df['text'] = df['text'].apply(remove_special)

In [26]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sudhanshu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [27]:
def remove_stopwords(text):
    x = []
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y = x[:]
    x.clear()
    return y

In [28]:
df['text'] = df['text'].apply(remove_stopwords)

In [29]:
df

      sentiment                                               text
0      Positive                 [im, getting, borderlands, murder]
1      Positive                            [coming, borders, kill]
2      Positive                   [im, getting, borderlands, kill]
3      Positive                  [im, coming, borderlands, murder]
4      Positive              [im, getting, borderlands, 2, murder]
...         ...                                                ...
74677  Positive  [realized, windows, partition, mac, like, 6, y...
74678  Positive  [realized, mac, window, partition, 6, years, b...
74679  Positive  [realized, windows, partition, mac, 6, years, ...
74680  Positive  [realized, windows, partition, mac, like, 6, y...
74681  Positive  [like, windows, partition, mac, like, 6, years...

[71890 rows x 2 columns]

In [30]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [31]:
y = []
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z = y[:]
    y.clear()
    return z

In [32]:
df['text'] = df['text'].apply(stem_words)

In [33]:
df

      sentiment                                               text
0      Positive                      [im, get, borderland, murder]
1      Positive                               [come, border, kill]
2      Positive                        [im, get, borderland, kill]
3      Positive                     [im, come, borderland, murder]
4      Positive                   [im, get, borderland, 2, murder]
...         ...                                                ...
74677  Positive  [realiz, window, partit, mac, like, 6, year, b...
74678  Positive  [realiz, mac, window, partit, 6, year, behind,...
74679  Positive  [realiz, window, partit, mac, 6, year, behind,...
74680  Positive  [realiz, window, partit, mac, like, 6, year, b...
74681  Positive  [like, window, partit, mac, like, 6, year, beh...

[71890 rows x 2 columns]

In [34]:
def join_back(list_input):
    return ' '.join(list_input)

In [35]:
df['text'] = df['text'].apply(join_back)

In [36]:
df['text']

0                                 im get borderland murder
1                                         come border kill
2                                   im get borderland kill
3                                im come borderland murder
4                               im get borderland 2 murder
                               ...
74677    realiz window partit mac like 6 year behind nv...
74678    realiz mac window partit 6 year behind nvidia ...
74679    realiz window partit mac 6 year behind nvidia ...
74680    realiz window partit mac like 6 year behind nv...
74681    like window partit mac like 6 year behind driv...
Name: text, Length: 71890, dtype: object

In [37]:
df['text'].shape

(71890,)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=20000)

In [67]:
x = cv.fit_transform(df['text']).toarray()

In [68]:
x.shape

(71890, 20000)

In [69]:
x[0].max()

1

In [70]:
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [71]:
y = df.iloc[:,-2].values

In [72]:
y.shape

(71890,)

In [73]:
y

array(['Positive', 'Positive', 'Positive', ..., 'Positive', 'Positive',
       'Positive'], dtype=object)

In [74]:
df['sentiment'].value_counts()

sentiment
Negative      21758
Positive      19912
Neutral       17614
Irrelevant    12606
Name: count, dtype: int64

In [75]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()

def preprocess_tweet(tweet):
    tweet = re.sub(r"http\S+", "", tweet)  # Remove URLs
    tweet = re.sub(r"@\S+", "", tweet)     # Remove mentions
    tweet = re.sub(r"#\S+", "", tweet)     # Remove hashtags
    tweet = re.sub(r"[^A-Za-z\s]", "", tweet)  # Remove special characters and numbers
    tweet = tweet.lower()                  # Convert to lowercase
    words = tweet.split()                  # Tokenization
    words = [stemmer.stem(word) for word in words if word not in stop_words]  # Remove stop words and stemming
    return " ".join(words)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sudhanshu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [76]:
import pickle

# Save the preprocessing function and vectorizer
preprocessing_components = {
    'vectorizer': cv,
    'preprocess_function': preprocess_tweet
}

with open('preprocessing_components.pkl', 'wb') as file:
    pickle.dump(preprocessing_components, file)

In [77]:
y = df['sentiment']

In [78]:
y

0        Positive
1        Positive
2        Positive
3        Positive
4        Positive
           ...
74677    Positive
74678    Positive
74679    Positive
74680    Positive
74681    Positive
Name: sentiment, Length: 71890, dtype: object

In [79]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0)

In [80]:
x_train.shape

(57512, 20000)

In [81]:
x_test.shape

(14378, 20000)

In [82]:
y_test.shape

(14378,)

In [83]:
y_train.shape

(57512,)

In [84]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB

In [85]:
model1 = GaussianNB()
model2 = MultinomialNB()
model3 = BernoulliNB()

In [86]:
model1.fit(x_train, y_train)
model2.fit(x_train, y_train)
model3.fit(x_train, y_train)

BernoulliNB()

In [87]:
y_pred1 = model1.predict(x_test)
y_pred2 = model2.predict(x_test)
y_pred3 = model3.predict(x_test)

In [88]:
y_test.shape

(14378,)

In [89]:
y_pred1.shape

(14378,)

In [90]:
from sklearn.metrics import accuracy_score

In [91]:
print("Gaussian: ", accuracy_score(y_test, y_pred1))
print("Multinomial: ", accuracy_score(y_test, y_pred2))
print("Bernoulli: ", accuracy_score(y_test, y_pred3))

Gaussian:  0.6605230212825149
Multinomial:  0.7416191403533176
Bernoulli:  0.7311169842815413

In [93]:
# Save the trained model
with open('naive_bayes_model.pkl', 'wb') as file:
    pickle.dump(model2, file)

In [94]:
# Save the vectorizer
with open('vectorizer.pkl', 'wb') as file:
    pickle.dump(cv, file)

# Load the vectorizer
with open('vectorizer.pkl', 'rb') as file:
    loaded_vectorizer = pickle.load(file)

# Load the trained model
with open('naive_bayes_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

In [97]:
# Example new data
new_tweets = ["I like you"]

# Preprocess the new data
processed_new_tweets = [preprocess_tweet(tweet) for tweet in new_tweets]

# Transform the new data using the loaded vectorizer
X_new_bow = loaded_vectorizer.transform(processed_new_tweets)

# Predict the sentiment of the new data using the loaded model
predictions = loaded_model.predict(X_new_bow)
print(predictions)

['Positive']