In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('twitter_training.csv')

In [3]:
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [4]:
df.rename(columns={'im getting on borderlands and i will murder you all ,': 'Tweet_content',}, inplace=True)

In [5]:
df.head()

,2401,Borderlands,Positive,Tweet_content
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [6]:
df.rename(columns={'Positive': 'sentiment'}, inplace=True)

In [7]:
df.head()

,2401,Borderlands,sentiment,Tweet_content
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [8]:
df['sentiment'].replace({'Positive':1, 'Negative':-1, 'Neutral':0, 'Irrelevant': 2}, inplace=True)

C:\Users\Sudhanshu\AppData\Local\Temp\ipykernel_38008\1920216339.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sentiment'].replace({'Positive':1, 'Negative':-1, 'Neutral':0, 'Irrelevant': 2}, inplace=True)
C:\Users\Sudhanshu\AppData\Local\Temp\ipykernel_38008\1920216339.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['sentiment'].replace({'Positive':1, 'Negative':-1, 'Neutral':0, 'Irrelevant': 2}, inplace=True)

In [9]:
df.head()

,2401,Borderlands,sentiment,Tweet_content
0,2401,Borderlands,1,I am coming to the borders and I will kill you...
1,2401,Borderlands,1,im getting on borderlands and i will kill you ...
2,2401,Borderlands,1,im coming on borderlands and i will murder you...
3,2401,Borderlands,1,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,1,im getting into borderlands and i can murder y...

In [10]:
def convert_lower(text):
    return text.lower()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   2401           74681 non-null  int64
 1   Borderlands    74681 non-null  object
 2   sentiment      74681 non-null  int64
 3   Tweet_content  73995 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [12]:
df.describe()

               2401     sentiment
count  74681.000000  74681.000000
mean    6432.640149      0.324969
std     3740.423819      1.082103
min        1.000000     -1.000000
25%     3195.000000     -1.000000
50%     6422.000000      0.000000
75%     9601.000000      1.000000
max    13200.000000      2.000000

In [13]:
df = df.dropna()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73995 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   2401           73995 non-null  int64
 1   Borderlands    73995 non-null  object
 2   sentiment      73995 non-null  int64
 3   Tweet_content  73995 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.8+ MB

In [15]:
df['Tweet_content'] = df['Tweet_content'].apply(convert_lower)

In [16]:
df.head()

,2401,Borderlands,sentiment,Tweet_content
0,2401,Borderlands,1,i am coming to the borders and i will kill you...
1,2401,Borderlands,1,im getting on borderlands and i will kill you ...
2,2401,Borderlands,1,im coming on borderlands and i will murder you...
3,2401,Borderlands,1,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,1,im getting into borderlands and i can murder y...

In [17]:
def remove_special(text):
    x =''
    for i in text:
        if i.isalnum():
            x = x+i
        else:
            x = x + ' '
    return x

In [18]:
df['Tweet_content'] = df['Tweet_content'].apply(remove_special)

In [19]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sudhanshu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
def remove_stopwords(text):
    x = []
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y = x[:]
    x.clear()
    return y

In [ ]:
df['Tweet_content'] = df['Tweet_content'].apply(remove_stopwords)

In [ ]:
df

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
y = []
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z = y[:]
    y.clear()
    return z

In [ ]:
df['Tweet_content'] = df['Tweet_content'].apply(stem_words)

In [ ]:
df

In [ ]:
def join_back(list_input):
    return ' '.join(list_input)

In [ ]:
df['Tweet_content'] = df['Tweet_content'].apply(join_back)

In [ ]:
df['Tweet_content']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [ ]:
x = cv.fit_transform(df['Tweet_content']).toarray()

In [ ]:
x.shape

In [ ]:
x[0].max()

In [ ]:
x

In [ ]:
y = df.iloc[:,-2].values

In [ ]:
y.shape

In [ ]:
y

In [ ]:
df['sentiment'].value_counts()

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()

def preprocess_tweet(tweet):
    tweet = re.sub(r"http\S+", "", tweet)  # Remove URLs
    tweet = re.sub(r"@\S+", "", tweet)     # Remove mentions
    tweet = re.sub(r"#\S+", "", tweet)     # Remove hashtags
    tweet = re.sub(r"[^A-Za-z\s]", "", tweet)  # Remove special characters and numbers
    tweet = tweet.lower()                  # Convert to lowercase
    words = tweet.split()                  # Tokenization
    words = [stemmer.stem(word) for word in words if word not in stop_words]  # Remove stop words and stemming
    return " ".join(words)

In [ ]:
import pickle

# Save the preprocessing function and vectorizer
preprocessing_components = {
    'vectorizer': cv,
    'preprocess_function': preprocess_tweet
}

with open('preprocessing_components.pkl', 'wb') as file:
    pickle.dump(preprocessing_components, file)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
x_train.shape

In [ ]:
x_test.shape

In [ ]:
y_test.shape

In [ ]:
y_train.shape

In [ ]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB

In [ ]:
model1 = GaussianNB()
model2 = MultinomialNB()
model3 = BernoulliNB()

In [ ]:
model1.fit(x_train, y_train)
model2.fit(x_train, y_train)
model3.fit(x_train, y_train)

In [ ]:
y_pred1 = model1.predict(x_test)
y_pred2 = model2.predict(x_test)
y_pred3 = model3.predict(x_test)

In [ ]:
y_test.shape

In [ ]:
y_pred1.shape

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print("Gaussian: ", accuracy_score(y_test, y_pred1))
print("Multinomial: ", accuracy_score(y_test, y_pred2))
print("Bernoulli: ", accuracy_score(y_test, y_pred3))